<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Notice Mangament
      </li>
    </ol>
  </nav>
  <div class="container-fluid">
    <!-- <div class="row page-title"> -->
    <!-- </div> -->
    <app-loader [show]="showloader"></app-loader>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Routine</h4>
        <!-- <p class="card-category">Add a Notice</p> -->
      </div>
      <div class="card-body mt-2">
        <!-- <form class="pt-2" [formGroup]="" (submit)="submitForm(viewRoutine.value)"> -->

          <mat-accordion>
            <mat-expansion-panel *ngFor="let routine of dayRoutine">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Priod : {{routine.priod.priod_name}}
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="pt-2" *ngIf="routine.rutinedetails.length > 0">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="Select Component">
                        <mat-option *ngFor="let sub of subjectlist && subjectlist[0].subjectname" [value]="sub.id">
                          {{ sub?.course_cat?.count_name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                
                
                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field>
              </form>
              <div *ngIf="routine.rutinedetails.length == 0">
                No Routine in this Shedule
              </div>
            </mat-expansion-panel>
            
          </mat-accordion>

          <button type="submit">Submit</button>
        <!-- </form> -->
        <button (click)="printit()" *ngIf="rutineDetails">PrintIt</button>

        <!-- formControlName="dept_id" -->
        <!-- formControlName="teacher_id" -->
        <!-- <div id="printtable">
          <p *ngIf="rutineDetails" class="text-center display-3"> Deprment: {{ deptName &&
            deptName[0].section?.sec_name }} | Sem:{{ samname && samname[0]?.sem_no}} | Year:
            {{viewRoutine.value.year}} </p> -->
          <!-- <table border="2" class="routine" *ngIf="rutineDetails" cellspacing="3" align="center">
            <tr>
              <td align="center">
              <td *ngFor="let priod of org_priods">{{ priod.priod_name }} ({{priod.from_time}} - {{priod.to_time}})
            </tr>
            <tr *ngFor="let rutine of rutineDetails;">
              <td align="center"> {{getDay(rutine.day)}}
                <i class="material-icons" [routerLink]="['/routine/edit']" [queryParams]="{day:rutine.day,year: viewRoutine.value.year, dept: deptName && deptName[0].id, sem: samname && samname[0]?.id}">
                  edit
                </i>
              </td>
              <td align="center" *ngFor="let priods of rutine?.priods">
                <p *ngFor="let item of priods?.rutinedetails">
                  {{item.class.section.sec_name}} / {{item.teacher.short_name}} / {{item.room.name}}
                  <small style="font-weight:bold; color:brown">{{item.cc_name}}</small>
                </p>
              </td> -->
              <!-- <ng-container *ngFor="let priods of rutine?.priods; let i=index"> -->
              <!-- <ng-container >
                  <td align="center" *ngFor="let priods of rutine?.priods; let i=index">
                    {{org_priods[i].id}}
                    <p *ngFor="let item of priods?.rutinedetails">
                      {{item.class.section.sec_name}} / {{item.teacher.short_name}} / {{item.room.name}}
                      <small style="font-weight:bold; color:brown">{{item.cc_name}}</small>
                    </p>
                  </td>
              </ng-container> -->

              <!-- <ng-container *ngIf="rutine?.priods.length != org_priods.length">
                <td align="center" *ngFor="let n of [1,2]"></td>
              </ng-container>
            </tr>

          </table> 
        </div>-->



      </div>
    </div>
  </div>