<div class="main-content">
  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">        
          Add User       
      </li>
    </ol>
  </nav> -->
  <div class="container-fluid">
    <div class="row page-title">
      <div class="col-md-12 col-md-offset-1">
        <div class="wizard-panel card">
          <div class="wizard-header">
            <h3 class="text-center">Build Your Profile</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">This information will let us know more about
              you.</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="text-uppercase text-center">Select Staff</li>
               
              <li class="text-uppercase text-center">Permissions</li>
              <li class="text-uppercase text-center">Modules</li>
            </ul>
            <div class="move-tab text-center text-uppercase">About</div>
          </div>
          <div class="wizard-body">
            <div class="wizard-tab">
              <div class="row"> 
                <div class="col-md-12">
                  <div class="checkbox-container">
                    <h4>Set According to their Role Permissions</h4>
                    <div class="form-check pb-3">                      
                      <mat-form-field>
                        <p></p>
                        <mat-select placeholder="Select a Possition" (change)="createLog($event)" [(ngModel)]="roleName">
                          <mat-option value="option">Select One--</mat-option>
                          <mat-option *ngFor="let role of roles" value="{{role.id}}">{{role.role_name}}</mat-option>
                          
                        </mat-select>
                      </mat-form-field>
                    </div>
                  
                    <div class="col-12 ">
                      <!-- <div class="example-header">
                        <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                      </div>                   -->
                      <mat-form-field class="">
                        <mat-select placeholder="Select Shift" (change)="onChooseShift($event)" [(ngModel)]="shift">
                          <ng-container *ngFor="let shift of orgShiftLists">
                            <mat-option [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id" class="shiftOptions">
                              {{shift.name}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Select a Teacher" name="teacher" (change)="selectStaff($event.value)">
                          <mat-option *ngFor="let itm of filteredStaff" [value]="itm.id" >
                            {{ itm.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    </div>
                    <mat-card style="width:100%; margin-top: 20px;" *ngIf="resultlogDetails.user.id">
                      <div class="row">
                        
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" name="fname" [(ngModel)]="fname">
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" name="lname" [(ngModel)]="lname">
                          </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" name="username" [(ngModel)]="username">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field>
                            <mat-select placeholder="Select a Teaching Types" (change)="techingtypechange($event)" name="techingtype" [(ngModel)]="techingtype">
                              <mat-option value=0>---Select One--</mat-option>
                              <ng-container *ngFor="let rolecat of rolecats" >
                                
                                <mat-option *ngIf="rolecat.parent_id == 0" value="{{rolecat.id}}">
                                  {{ rolecat.name }}
                                </mat-option>
                              </ng-container>
                            
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field>
                            <mat-select placeholder="Select a Teaching Types" name="rolecattypes" [(ngModel)]="rolecattype">
                                <mat-option value=0>---Select One--</mat-option>
                                <mat-option *ngFor="let rolecat of roleSubcats" value="{{rolecat.id}}">
                                  {{ rolecat.name }}
                                </mat-option>                             
                        
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field>
                            <mat-select placeholder="Select a Deperment" name="dept_id" [(ngModel)]="dept_id">
                          
                              <mat-option *ngFor="let dept of depts" value="{{dept.id}}">
                                {{ dept.name }}
                              </mat-option>
                          
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <button mat-raised-button class="btn btn-light" (click)="updateData()">Save</button>
                    </mat-card>
                  </div>
                </div>
              </div>
                           
            </div>
            <div class="wizard-tab">
              <mat-accordion>                
                <mat-expansion-panel [expanded]="true" >
                  <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="logDetails">
                      {{logDetails.role.name}} ({{logDetails.user?.name}})
                    </mat-panel-title>
                    <mat-panel-description>
                      Select The Modules
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                    <div class="form-check pb-3" *ngFor="let module of modules">
                      <mat-checkbox (change)="checkModule($event,module.id)">{{module.module_name}}</mat-checkbox>
                    </div>
                  
                </mat-expansion-panel>
              </mat-accordion>
              <!-- <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button mat-raised-button class="btn btn-link" data-toggle="collapse" data-target="#final_step_1"
                        aria-expanded="true" aria-controls="final_step_1" *ngIf="logDetails">
                        {{logDetails.role.name}} ({{logDetails.user?.name}})
                      </button>
                    </h5>
                  </div>
            
                  <div id="final_step_1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body card-one">
                      <div class="form-check pb-3" *ngFor="let module of modules">
                          <mat-checkbox>{{module.module_name}}</mat-checkbox>                       
                      </div>
                      
                  </div>
                </div>
                
              </div>
            </div> -->
            </div>
            <div class="wizard-tab">
                <mat-accordion *ngIf="logDetails">
                  <mat-expansion-panel *ngFor="let item of logDetails.modules; let i = index"
                   [expanded]= "i == 0 ? true : false">
                    <mat-expansion-panel-header>
                      <mat-panel-title >
                        {{item.name}}
                      </mat-panel-title>
                   
                    </mat-expansion-panel-header> 
                    <div class="row">
                      <div class="form-check col-md-4 pl-2">
                        <mat-checkbox (change)="checkIfAllSelected($event,'add', i)" 
                        [checked]="allPermisions"
                        >Add</mat-checkbox>
                      </div>
                      <div class="form-check col-md-4 pl-2">
                        <mat-checkbox (change)="checkIfAllSelected($event, 'edit', i)"
                        [checked]="allPermisions"
                        >Edit</mat-checkbox>
                      </div>
                      <div class="form-check col-md-4 pl-2">
                        <mat-checkbox (change)="checkIfAllSelected($event, 'view', i)"
                        [checked]="allPermisions"
                        >View</mat-checkbox>
                      </div>
                      <div class="form-check col-md-4 pl-2">
                        <mat-checkbox (change)="checkIfAllSelected($event, 'delete', i)"
                        [checked]="allPermisions"
                        >Delete</mat-checkbox>
                      </div>
                      <div class="form-check col-md-4 pl-2">
                        <mat-checkbox (change)="checkIfAllSelected($event, 'all', i)"
                        [checked]="allCheckButton[i]"
                        >All</mat-checkbox>
                      </div>
                    </div>

                    <!-- <div class="form-check pb-3" >
                      
                      <mat-checkbox>Edit</mat-checkbox>
                      <mat-checkbox>Update</mat-checkbox>
                      <mat-checkbox>Delete</mat-checkbox>
                      <mat-checkbox>Delete</mat-checkbox>
                    </div> -->
                  </mat-expansion-panel>
                </mat-accordion>
            </div>
           
          </div>
          <div class="wizard-footer">            
            <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success green-a200" 
              *ngIf="tabIndex == 0"
              
            (click)="nextOnClick()">Next1</button>
            <button id="nextBtn" class="btn btn-success green-a200" *ngIf="tabIndex == 1" (click)="nextOnClick()">Next2</button>
            <button *ngIf="tabIndex == 2" class="btn btn-success float-right" (click)="finish()">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>