<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Update Books Details
      </li>

      <li class="float-right">

      </li>
    </ol>
  </nav>

  <div class="container-fluid">
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Update Book Informations</h4>
                <p class="card-category">Update the Book</p>
              </div>
              <div class="card-body">
                <form class="pt-2" [formGroup]="bookeditForm" (submit)="bookUpdate(bookeditForm.value)">

                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Book Name" type="text" formControlName="bookname" name="bookname">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.bookname.hasError('required') && 
                                                                bookeditForm.controls.bookname.touched">
                        <small>Book Name is <strong>required</strong></small>
                      </mat-error>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Author Name" type="text" formControlName="authorname" name="authorname">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.authorname.hasError('required') && 
                                            bookeditForm.controls.authorname.touched">
                        <small>Author Name is <strong>required</strong></small>
                      </mat-error>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Publisher Name" type="text" formControlName="publishername" name="publishername">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.publishername.hasError('required') && 
                           bookeditForm.controls.publishername.touched">
                        <small>Publisher Name is <strong>required</strong></small>
                      </mat-error>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Edition" type="text" formControlName="edition" name="edition">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.edition.hasError('required') && 
                           bookeditForm.controls.edition.touched">
                        <small>Edition is <strong>required</strong></small>
                      </mat-error>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="ISBN Code" type="text" formControlName="isbn_code" name="isbn_code">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.isbn_code.hasError('required') && 
                           bookeditForm.controls.isbn_code.touched">
                        <small>ISBN Code Name is <strong>required</strong></small>
                      </mat-error>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="No of Copy Avalable" type="number" formControlName="no_of_copy"
                          name="no_of_copy">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.no_of_copy.hasError('required') && 
                                bookeditForm.controls.no_of_copy.touched">
                        <small>No Of Copy is <strong>required</strong></small>
                      </mat-error>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Book for Out" type="number" formControlName="book_for_out"
                          name="book_for_out">
                      </mat-form-field>
                      <mat-error *ngIf="bookeditForm.controls.book_for_out.hasError('required') && 
                                bookeditForm.controls.book_for_out.touched">
                        <small>This is <strong>required</strong></small>
                      </mat-error>
                    </div>
                  </div>
                  <button mat-raised-button class="btn btn-light" type="submit" [disabled]="!bookeditForm.valid"
                    [ngClass]="{'btn-success': bookeditForm.valid}">Add Book</button>

                </form>
              </div>
            </div>
          

      </div>
    </div>
  </div>
</div>