<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Details
      </li>
    </ol>
  </nav>
  <div class="container-fluid">
    <app-loader [show]="showloader"></app-loader>
    <div class="row page-title">
        <div class="col-md-12 col-md-offset-1">
          <div class="card">
            <div class="card-header card-header-danger">
              <h3 class="card-title">Staff and Student Basic Details</h3>
              <p class="card-category">Add Basic details of the user which have been added 
               
              </p>
            </div>
            <div class="card-body">
              <div class="row">
                <mat-card class="ml-3 mb-3">
                  <mat-card-title>Upload Student Details file</mat-card-title>

                  <form class="pt-2">
                    <div class="col-md-6">
                      <!-- <button mat-raised-button color="primary" (click)="fileInput.click()" (change)="fileChange($event)"> -->
                      <button mat-raised-button color="primary" (click)="fileInput.click()">
                        Add File</button>
                      <button mat-raised-button class="mt-2" color="warn" (click)="downloadFile('assets/demofiles/student - Sheet1.csv')">
                        Download Demo File</button>
                      <input type="file" accept=".csv" hidden #fileInput name="file" (change)="uploadStudentFile($event)">
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="">
                        <mat-select placeholder="Select Shift" name="shift_stdnt" [(ngModel)]="shift_stdnt">
                          <ng-container *ngFor="let shift of orgShiftLists">
                            <mat-option [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id" class="shiftOptions">
                              {{shift.name}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    
                    <img class="card-image" src="assets/img/student_1144709.png">
                  </form>
                </mat-card>




                <mat-card class="ml-3 mb-3">
                  <mat-card-title>Upload Staff Details file</mat-card-title>

                  <form class="pt-2">
                    <div class="col-md-6">
                      <button mat-raised-button color="primary" (click)="file_staff.click()">
                        Add File</button>
                      <input type="file" accept=".csv" hidden #file_staff name="file_staff" (change)="uploadTeacherFile($event)">
                      <button mat-raised-button class="mt-2" color="warn" (click)="downloadFile('assets/demofiles/Staff.csv')">
                        Download Demo File</button>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="">
                        <mat-select placeholder="Select Shift" name="shift" [(ngModel)]="shift_staff">
                          <ng-container *ngFor="let shift of orgShiftLists">
                            <mat-option [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id" class="shiftOptions">
                              {{shift.name}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    
                    <img class="card-image" src="assets/img/teacher.png">
                  </form>

                </mat-card>




              </div>
              
            </div>
          </div>
        </div>          
    </div>
  </div>
</div>