<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Books
      </li>

      <li class="float-right">

      </li>
    </ol>
  </nav>

  <div class="container-fluid">
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
      <mat-tab-group>
        <mat-tab label="Single Upload">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Add Book</h4>
              <p class="card-category">Add a Book</p>
            </div>
            <div class="card-body">
              <form class="pt-2" [formGroup]="bookaddForm" (submit)="bookadd(bookaddForm.value)">
                
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Book Name" type="text" formControlName="bookname"
                       name="bookname">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.bookname.hasError('required') && 
                                                                bookaddForm.controls.bookname.touched">
                      <small>Book Name is <strong>required</strong></small>
                    </mat-error>
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Author Name" type="text" formControlName="authorname" 
                      name="authorname">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.authorname.hasError('required') && 
                                            bookaddForm.controls.authorname.touched">
                        <small>Author Name is <strong>required</strong></small>
                    </mat-error>
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Publisher Name" type="text" formControlName="publishername" 
                      name="publishername">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.publishername.hasError('required') && 
                           bookaddForm.controls.publishername.touched">
                      <small>Publisher Name is <strong>required</strong></small>
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Edition" type="text" formControlName="edition" 
                      name="edition">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.edition.hasError('required') && 
                           bookaddForm.controls.edition.touched">
                      <small>Edition is <strong>required</strong></small>
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ISBN Code" type="text" formControlName="isbn_code" 
                      name="isbn_code">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.isbn_code.hasError('required') && 
                           bookaddForm.controls.isbn_code.touched">
                      <small>ISBN Code Name is <strong>required</strong></small>
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="No of Copy Total" type="number" formControlName="no_of_copy"
                       name="no_of_copy">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.no_of_copy.hasError('required') && 
                                bookaddForm.controls.no_of_copy.touched">
                      <small>No Of Copy is <strong>required</strong></small>
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="No of Book Out" type="text" formControlName="book_for_out" 
                      name="edition">
                    </mat-form-field>
                    <mat-error *ngIf="bookaddForm.controls.book_for_out.hasError('required') && 
                           bookaddForm.controls.book_for_out.touched">
                      <small>This is <strong>required</strong></small>
                    </mat-error>
                  </div>
                </div>
                <button mat-raised-button class="btn btn-light" type="submit" [disabled]="!bookaddForm.valid"
                  [ngClass]="{'btn-success': bookaddForm.valid}"
                >Add Book</button>

              </form>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Bulk Upload">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Bulk Book Add</h4>
              <p class="card-category">Bulk add </p>
            </div>
            <div class="card-body">
              <form class="pt-2">
                
                <div class="col-md-6">
                  <button mat-raised-button color="primary" 
                  (click)="fileInput.click()" (change)="fileChange($event)">
                    Add File</button>
                    <input type="file" hidden #fileInput name="file" (change)="uploadFile($event)">
                </div>
                
              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      </div>
    </div>
  </div>
</div>