<div class="main-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/dashboard']" class="text-success">
            <i class="material-icons">home</i>
              Dashboard
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Notice Mangament
        </li>
      </ol>
    </nav>

      <app-loader [show]="showloader"></app-loader>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-header card-header-danger">
                  <h4 class="card-title">Notice Type</h4>
                  <p class="card-category">Choose Notice type</p>
                </div>

                <div class="card-body mt-2">
                  <div class="row">

                    <div class="col-sm-6">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Notice Type" (change)="onChooseNoticeType($event)">
                              <mat-option *ngFor="let noticeType of noticeTypes" [value]="noticeType.id">
                                {{noticeType.type_name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                    

                    <div class="col-sm-6" *ngIf="showShiftField">
                        <mat-form-field>                      
                            <mat-select name="shift" placeholder="Select Shift" (change)="onChooseShift($event)" (change)="selectAllShifts($event)" multiple>

                              <ng-container *ngFor="let shift of orgShiftLists">                   
                                  <mat-option #allSelected [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id">
                                      {{shift.name}}
                                  </mat-option>
                              </ng-container>   

                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6" *ngIf="showStuffTypeField">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Stuff Type" (change)="onChangeStuffType($event)" multiple>
                                <!-- <mat-option [value]="3">
                                  All
                                </mat-option>                                     -->
                                <mat-option [value]="1">
                                  Teaching Staff
                                </mat-option> 
                                <mat-option [value]="2">
                                  Non Teaching Staff
                                </mat-option>                                
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6" *ngIf="showStuffTypeField">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Staff" (change)="onChangeStuff($event)" multiple>
                                <ng-container *ngFor="let stuff of teachingOrNonteachingStuff">         
                                    <mat-option [value]="stuff.id">
                                        {{stuff.name}}
                                    </mat-option>
                                </ng-container>                                
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6" *ngIf="showClassField">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Class/Stream" (change)="onChooseClassStream($event)" multiple>
                              <!-- <mat-option [value]="all">All</mat-option> -->
                              <ng-container *ngFor="let classStream of sortArray">                  
                                  <mat-option [value]="classStream.class_id">
                                      {{classStream.class_name}}
                                  </mat-option>
                              </ng-container>                              
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6" *ngIf="showSectionField">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Section" (change)="onChooseSection($event)" multiple>
                              <!-- <mat-option [value]="all">All</mat-option> -->
                              <ng-container *ngFor="let sec of filteredArrayForSectionList">       
                                <mat-option [value]="sec.classSectionIndexId">
                                  {{sec.section_name}}
                                </mat-option>
                              </ng-container>                              
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    
                    <div class="col-sm-6" *ngIf="showRollField">
                        <mat-form-field>                      
                            <mat-select placeholder="Select Search Type" [(ngModel)]="searchType">
                              <!-- <mat-option [value]="all">All</mat-option> -->
                              <!-- <ng-container *ngFor="">        -->
                                <mat-option [value]="1">Roll No</mat-option>
                                <mat-option [value]="2">Registration No</mat-option>
                              <!-- </ng-container>                               -->
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6" *ngIf="showSearchField">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Search" name="rollSearch" [(ngModel)]="searchRoll">
                      </mat-form-field>
                    </div>

                    <div class="col-sm-12 p-1 m-1" *ngIf="showFoundStudentTable">
                      <div class="card-body p-1 m-1">
                          <div class="table table-sm table-bordered table-responsive">
                              <table class="table">
                                  <thead class="text-primary">
                                      <th>
                                          Select
                                      </th>
                                      <th>
                                          Name
                                      </th>
                                      <th>
                                          Roll
                                      </th>                
                                      <th>
                                          Registration No
                                      </th>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input *ngIf="searchType == 1" class="form-check-input" type="checkbox" value="{{foundStudentForSearch?.id}}" (change)="onClickFoundStdCheckBox($event, foundStudentForSearch?.roll_no)">
                                                    <input *ngIf="searchType == 2" class="form-check-input" type="checkbox" value="{{foundStudentForSearch?.id}}" (change)="onClickFoundStdCheckBox($event, foundStudentForSearch?.registration_no)">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                          {{foundStudentForSearch?.name}}
                                        </td>
                                        <td>
                                          {{foundStudentForSearch?.roll_no}}
                                        </td>
                                        <td>
                                          {{foundStudentForSearch?.registration_no}}
                                        </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-12" *ngIf="!showSearchField">
                        <div class="example-full-width">
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onClickSubmitBtn()">Go Next</button>
                        </div>
                    </div>

                    <!-- <div class="col-sm-12" *ngIf="showSearchField">
                        <div class="example-full-width">
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onClickGoNextForPersonelNotice()">Go Next</button>
                        </div>
                    </div> -->

                    <div class="col-sm-12" *ngIf="showSearchField">
                        <div class="example-full-width">
                          <button mat-raised-button type="submit" class="btn btn-success pull-right ml-3" (click)="onClickGoNextForPersonelNotice()" *ngIf="studentSelectedForPersonelNotice">Go Next</button>
                          <button mat-raised-button type="submit" class="btn btn-success pull-right ml-3" (click)="onClickSearchBtn()">Search</button>
                        </div>
                    </div>

                  </div>                    
                </div>

              </div>
        </div>


        

        <div class="col-md-6" *ngIf="studentSelectedForPersonelNotice">
            <div class="card">

                <div class="card-header card-header-danger">
                  <h4 class="card-title">Student List</h4>
                  <p class="card-category">List of Student Who will Receive this Notiece</p>
                </div>

                <div class="card-body mt-2">
                  <div class="row">        

                    <!-- <div class="col-sm-12" *ngIf="!showSearchField">
                        <div class="example-full-width">
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onClickSubmitBtn()">Go Next</button>
                        </div>
                    </div> -->
                    <div class="table table-sm table-bordered table-responsive p-3 text-center">

                      <table class="table">
                        <thead class="text-primary">
                          <th>
                            NO.
                          </th>
                          <th *ngIf="searchType == 1">
                            Roll No
                          </th>
                          <th *ngIf="searchType == 2">
                            Registration No
                          </th>
                         

                        </thead>
                        <tbody >
                          <tr *ngFor="let item of searchedIdNos; let i = index">

                            <td>
                              {{i+1}}
                            </td>
                            <td>
                              {{item}}
                            </td>
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>

                   <!-- <div class="col-sm-12" *ngIf="showSearchField">
                        <div class="example-full-width">
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onClickGoNextForPersonelNotice()">Go Next</button>
                        </div>
                    </div>  -->

                  </div>                    
                </div>

              </div>
        </div>
      </div>
      
    </div>
