<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add User Details
      </li>
    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row page-title">
        <div class="col-md-12 col-md-offset-1">
          <div class="card">
            <div class="card-header card-header-danger">
              <h3 class="card-title">Add User Basic Details</h3>
              <p class="card-category">Add Basic details of the user which have been added
               
              </p>
            </div>
            <div class="card-body">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button mat-raised-button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Principal
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="email">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="*******" type="text">
                          </mat-form-field>
                        </div>
                        <button mat-raised-button class="btn btn-success">Save & Next</button>
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button mat-raised-button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                       Libarian
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="email">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="*******" type="text">
                          </mat-form-field>
                        </div>
                        <button mat-raised-button data-target="#collapseThree" class="btn btn-success float-right">Save & Next</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button mat-raised-button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Exam cell
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="email">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="*******" type="text">
                          </mat-form-field>
                        </div>
                        <button mat-raised-button class="btn btn-success float-right">Save & Next</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    
                    <button mat-raised-button class="btn btn-success float-right" [routerLink] = "['/table-list']">Finish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>          
    </div>
  </div>
</div>