<div class="main-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/dashboard']" class="text-success">
            <i class="material-icons">home</i>
            Dashboard
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" >
          <a [routerLink]="['/school/module/index']" class="text-success">
            <!-- <i class="material-icons">home</i> -->
            More Options
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" >
          PT Meating
        </li>
      </ol>
    </nav>
    <app-loader [show]="showloader"></app-loader>
    <div class="container-fluid">
        <div class="row page-title">
            <div class="col-md-12 col-md-offset-1">
                <button mat-raised-button class="btn btn-primary" [routerLink]="['../add']">
                  <mat-icon>add</mat-icon> create new meeting
                </button>
                <div class="example-header mt-3">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data..">
                    </mat-form-field>
                  </div>
                  <mat-table #table [dataSource]="dataSource" >
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{element.title}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{element.date}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> From {{element.from_time}} To {{element.to_time}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{element.location_at}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="actions" >
                          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" matTooltip="Edit this" 
                            [matTooltipPosition]="'above'" 
                            class="btn btn-link btn-sm btn-just-icon" >
                              <i class="material-icons">edit</i>
                            </button>
                            <!-- <button mat-icon-button >
                              <mat-icon>remove_red_eye</mat-icon>
                            </button> -->
                          </mat-cell>
                        </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 50,100]">
                      </mat-paginator>
                    </mat-table>
            </div>

        </div>
    </div>
</div>