<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']" class="text-success">
          <i class="material-icons">home</i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a [routerLink]="['/routine/index']" class="text-gray">
          Routine
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add
      </li>
    </ol>
  </nav>
  <div class="container-fluid">
    <!-- <div class="row page-title"> -->
    <!-- </div> -->
    <app-loader [show]="showloader"></app-loader>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Routine</h4>
        <!-- <p class="card-category">Add a Notice</p> -->
      </div>
      <div class="card-body mt-2">
        <form class="pt-2" [formGroup]="routineForm" (submit)="submitForm(routineForm.value)">

          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Shift" formControlName="shift" name="shift_id" (change)="selectAllShifts($event)">
                  <ng-container *ngFor="let shift of shifs">
                    <mat-option  [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id">
                    {{shift.name}}
                    </mat-option>
                  </ng-container>
                  
                </mat-select>
              </mat-form-field>
              <!-- <mat-error *ngIf="classassignForm.controls.class_id.hasError('required') && classassignForm.controls.class_id.touched">
                            <small>Class is <strong>required</strong></small>
                          </mat-error> -->
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Class" name="class_id" formControlName="stream" (change)="classChange($event)">
                  <mat-option *ngFor="let list of classlist" [value]="list">
                    {{ list }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-error *ngIf="classassignForm.controls.class_id.hasError('required') && classassignForm.controls.class_id.touched">
                <small>Class is <strong>required</strong></small>
              </mat-error> -->
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Year" formControlName="year" name="yearList" (change)="getRoutine()">
                  <mat-option *ngFor="let year of yearList" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Sem" formControlName="sem" name="sem" (change)="onSemselect($event)">
                  <mat-option *ngFor="let sem of allsems" [value]="sem.id">
                    {{ sem.sem_no }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Day" formControlName="day" name="day_id">
                  <mat-option *ngFor="let day of weak" [value]="day.id">
                    {{ day.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Choose a Priod" formControlName="priod_id" name="proid_id">
                  <mat-option *ngFor="let priod of org_priods" [value]="priod.id">
                    {{ priod.priod_name }} ({{priod.from_time}} - {{priod.to_time}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
          </div>
          <!-- <button mat-raised-button color="accent" type="button" (click)="addMoreItems()">Add More</button> -->
          <div formArrayName="dept_teachers" >
            <div class="row" *ngFor="let item of routineForm.controls.dept_teachers['controls']; let i=index" [formGroupName]="i">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Choose a Deparment" formControlName="dept_id"
                  name="dept_id" (change)="onDeptselect($event)">
                    <mat-option *ngFor="let dept of Finaldepts" [value]="dept.id">
                      {{ dept.section.sec_name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Choose a Component" formControlName="component_name" name="sub">
                    <mat-option *ngFor="let sub of SubjectComponent" [value]="sub.id">
                      {{ sub?.subcourse[0]?.count_name }} - ({{sub.subject_name}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Choose a Teacher" name="teacher_id" formControlName="teacher_id" (change)="teacherOnchange($event)">
                    <mat-option *ngFor="let techer of teachers" [value]="techer.id">
                      {{ techer.short_name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="remainClass">Class Remain:- <span style="color:brown">{{remainClass}}</span> </p>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Choose a Room" formControlName="room_id" name="teacher_id" >
                    <mat-option *ngFor="let room of org_rooms" [value]="room.id">
                      {{ room.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button type="submit" mat-button class="btn btn-primary pb-3">Submit</button>
        </form>


        <!-- formControlName="dept_id" -->
        <!-- formControlName="teacher_id" -->

        <table border="2" cellspacing="3" align="center">
          <tr>
            <td align="center">
            <td *ngFor="let priod of org_priods">{{ priod.priod_name }} ({{priod.from_time}} - {{priod.to_time}}) 
            </tr>
          <tr *ngFor="let rutine of rutineDetails">
            <td align="center"> {{rutine.day}} </td>
            <td align="center" *ngFor="let priods of rutine?.priods">
              <p *ngFor="let item of priods?.rutinedetails">
                {{item.class.section.sec_name}} / {{item.teacher.short_name}} / {{item.room.name}}
                <small style="font-weight:bold; color:brown">{{item?.class_sub?.subcourse[0]?.count_name}}</small>
              </p>
            </td>
            <!-- <ng-container *ngFor="let priods of rutine?.priods; let i=index">
              <td align="center" *ngIf="org_priods[i].id == priods.priod_id">
                {{org_priods[i].id}}
                <p *ngFor="let item of priods?.rutinedetails">
                  {{item.class.section.sec_name}} / {{item.teacher.short_name}} / {{item.room.name}}
                  <small style="font-weight:bold; color:brown">{{item.cc_name}}</small>
                </p>
              </td>
            </ng-container> -->
          </tr>

        </table>  
        
        
      </div>
    </div>
  </div>