<div class="main-content">
  <div class="container-fluid">

    <!-- <div class="row justify-content-center">
            <div class="col-3 text-center">
                <div class="card">
                    <p>Loem</p>
                </div>
            </div>
        </div> -->

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
          </div>
          <div class="card-body">
            <form >
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field>
                    <mat-select name="shift" placeholder="Select Shift" (change)="onChooseShift($event)" >
                      <ng-container *ngFor="let shift of orgShiftLists">
                        <mat-option [value]="shift.orgshift[0]?.id" *ngIf="shift.orgshift[0]?.id">
                          {{shift.name}}
                        </mat-option>
                      </ng-container>
                  
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select Class/Stream" (change)="onChooseClass($event)">
                      <!-- <mat-option [value]="all">All</mat-option> -->
                        <mat-option  *ngFor="let class of classlist" [value]="class">
                          {{class}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select Class/Stream" (change)="onChooseClassStream($event)">
                    <!-- <mat-option [value]="all">All</mat-option> -->
                      <ng-container *ngFor="let classStream of sortArray">
                        <mat-option [value]="classStream.id">
                          {{classStream.section.sec_name}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>  